form {
    max-width: 600px;
    margin: 0 auto;
   
}
label {
    display: block;
    margin-bottom: 2px;
    
}
input[type="text"],
textarea,
select {
    
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type="file"] {
    margin-top: 2px;
}


.text-danger {
    color: red;
    margin-top: 5px;
}
h1{
    text-align: center;
    margin-top: 5px;
}
