table {
          width: 100%;
          border-collapse: collapse;
      }
      
      
      th {
          background-color: #f2f2f2;
          padding: 8px;
          text-align: left;
      }

      td {
          padding: 8px;
          border-bottom: 1px solid #ddd;
      }
      
    
      tbody tr:nth-child(even) {
          background-color: #f2f2f2;
      }
      
  
      td img {
          display: block; 
          margin: 0 auto; 
      }
      
    
      .btn {
          padding: 6px 12px;
          text-decoration: none;
          border: none;
          cursor: pointer;
      }
      
      .btn-primary {
          background-color: #007bff;
          color: #fff;
      }
      
      .btn-danger {
          background-color: #dc3545;
          color: #fff;
      }
      @keyframes fadeOut {
        0% { opacity: 1; }
        100% { opacity: 0; display: none; }
    }

    .alert {
        animation: fadeOut 4s forwards;
    }
    th{
        text-align: center;
    }

    .search {
        width: 200px; 
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-right: 5px; 
        margin-bottom: 5px;
    }
    #btn-search{
        width:fit-content; 
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-right: 5px; 
        margin-bottom: 5px;
    }
    h1{
        text-align: center;
        margin-top: 5px;
    }

.add-app-link {
    position: fixed;
    right: 20px; 
     margin-right: 135px; 
    z-index: 999;
    }
    .search{
        margin-top:5px;
        margin-bottom:10px;
        margin-left: 150px; 
        width: 20%;
         text-align: center;
    }
    .paginate{
      margin-top:5px;
        margin-left: 150px; 
        width: 20%;
         text-align: center;
    }
    table {
        margin: 0 auto; 
        width: 80%; 
    }
    
    /* Center the content of table cells */
    table td, table th {
        text-align: center;
        border:1px solid gray;
    }

